Repository alphagov/whitehall, pull requests merged in 2020-02, with the labels that each got.

#5318 Stop fonts from loading twice
  app/assets/stylesheets/frontend/base.scss
Labels: bug

#5355 Previous Chancellors List: Add Sajid Javid
  app/views/historic_appointments/past_chancellors.html.erb
Labels: do-not-merge

#5253 Update to accomodate carrierwave 2.1.0
  Gemfile
  Gemfile.lock
  app/models/take_part_page.rb
  config/initializers/carrierwave.rb
  test/integration/asset_manager_test.rb
Labels: dependencies
